<div class="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/dashboard" class="nav-link">Dashboard</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/addcategory" class="nav-link">Category</a>
        </li>
        <li class="list-group-item">
            <a href="/posts/create" class="nav-link">New Post</a>
        </li>
        <li class="list-group-item">
            <a href="/posts" class="nav-link">My Posts</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/bookmarks" class="nav-link">Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/comments" class="nav-link">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/edit-profile" class="nav-link">Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/change-password" class="nav-link">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/logout" class="nav-link">Log Out</a>
        </li>
    </ul>
</div>